<div class="container">
<form
  novalidate
  formGroup="formGroup"
>
<!-- First name field -->
<div class="sky-form-group" style="max-width: 50%">
  <label for="firstName" class="sky-control-label sky-control-label-required">
    First name
  </label>
  <input class="sky-form-control ng-invalid ng-touched" id="firstName" type="text" aria-required="true" required>
  <!-- <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger"></div> -->
</div>
<!-- <div *ngIf="firstName.errors.invalid" class="sky-error-label">
  Enter a valid first name.
</div> -->
<!-- Last name field -->
<div class="sky-form-group" style="max-width: 50%">
  <label for="lastName" class="sky-control-label sky-control-label-required">
    Last name
  </label>
  <input class="sky-form-control ng-invalid ng-touched" id="lastName" type="text" aria-required="true" required>
  <!-- <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger"></div> -->
</div>
<!-- <div *ngIf="lastName.errors.invalid" class="sky-error-label">
  Enter a valid last name.
</div> -->
<!-- Contact number field -->
<div class="sky-form-group" style="max-width: 50%">
  <label for="contactNo" class="sky-control-label sky-control-label-required">
    Contact No.
  </label>
  <input class="sky-form-control  ng-invalid ng-touched" id="contactNo" type="text" placeholder="(201) 555-5555" required>
  <!-- <div *ngIf="contactNo.invalid && (contactNo.dirty || contactNo.touched)" class="alert alert-danger"></div> -->
</div>
<!-- <div *ngIf="contactNo.errors.invalid" class="sky-error-label">
  Enter a valid contact number name.
</div> -->
<!-- Email field -->
<div class="sky-form-group" style="max-width: 50%">
  <!-- <sky-input-box>
    <label
      class="sky-control-label"
      for="emailInput"
    >
      Email address
    </label>
    <input
      class="sky-form-control"
      formControlName="email"
      skyId
      #emailInput="skyId"
    />
  </sky-input-box> -->
  <!-- <ng-container *ngIf="emailControl.errors && emailControl.touched">

    <div *ngIf="emailControl.errors.required"
      class="sky-error-label"
    >
      Email address is required.
    </div>

    <div *ngIf="emailControl.errors.skyEmail && emailControl.dirty"
      class="sky-error-label"
    >
      Enter a valid email in the "joe@abc.com" format.
    </div>
  </ng-container> -->
</div>
<!-- Date of Birth field -->
<div class="sky-form-group" style="max-width: 50%">
  <sky-input-box>
    <label class="sky-control-label" [for]="dateInput.id"> Date </label>
    <sky-datepicker>
      <input
        formControlName="myDate"
        id="myDate"
        skyDatepickerInput
        skyId
        type="text"
        #dateInput="skyId"
      />
    </sky-datepicker>
  </sky-input-box>
</div>
<!-- Address field -->
<div class="sky-form-group" style="max-width: 50%">

</div>
</form>
</div>
